
{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}

{% endblock %}



{% block contents %}



<div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">이슈 확인</h5>
      </div>
      <div class="modal-body">
        <p>해당이슈 내용이 해결되었습니까? </p>
      </div>
      <div class="modal-footer">
          <a class="btn btn-secondary" href="{% url 'issue' pk_id%}">취소</a>
        <form method="post">
        {% csrf_token %}
         <input class="btn btn-primary" type="submit", value="확인 완료">
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock %}